.address-list {
    font-style: normal;
    margin-top: 20px;
}
.address-item:not(:first-child) {
    margin-top: 9px;
}
.address-link {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-background);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
    color: var(--brand-color);
}
